<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>U7qCy28RVW6pPYmG1W6959Qt3kFhH8vn1r-L-2ompBgfl2oa-uybMoi4Q_LeqGrK6fIRmywhlY4qY1f97II5W_ybS6cB8uZ0zIdVRGFlsT2vEzz3-lbmbgGIJVGsYHYx</string>
</dict>
</plist>
